build/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj
.vs/
*.user
*.suo
*.sln
*.vcxproj*
CMakeSettings.json
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
*.egg-info/
dist/
.eggs/
.idea/
.vscode/
*.swp
*~
*.bmp
*.jpg
*.png
