* text eol=crlf

*.bin     binary
*.wasm    binary
*.data    binary
*.exe     binary
*.dll     binary
*.png     binary
*.ico     binary
*.jpg     binary
*.jpeg    binary
*.gif     binary
*.woff2   binary
*.ttf     binary
*.otf     binary
*.eot     binary
